body {
  background-color: rgb(215, 215, 215);
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.container {
  display: flex;
  position: relative;
  margin: 15%;
  background-color: rgb(255, 255, 255);
  font-size: 0.9rem;
}
.header-one {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.header-three {
  text-transform: uppercase;
  margin-top: 15px;
}
.section-title {
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  left: 10%;
  width: 100%;
  margin-top: 30px;
  font-weight: 700;
}
.section-title::after {
  content: " ";
  background-color: rgb(27, 27, 27);
  height: 2px;
  width: 80%;
  display: block;
  margin-top: 15px;
}
.left-section {
  background-color: rgb(33, 32, 38);
  width: 33.3%;
  color: rgb(255, 255, 255);
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.left-section .section-title::after {
  content: " ";
  background-color: rgb(254, 203, 0);
  height: 2px;
  width: 90%;
  display: block;
}
.right-section {
  color: rgb(27, 27, 27);
  width: 66.6%;
  padding-bottom: 100px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.right-section__paragraph {
  position: relative;
  left: 10%;
  width: 86%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.education {
}
.section-title {
}
.education__item {
  position: relative;
  left: 20%;
  width: 60%;
}
.education__item-speciality {
}
.education__item-institution {
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 10px;
}
.education__item-year {
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 5px;
}
.languages {
}

.languages__container {
  margin-top: 15px;
  position: relative;
  left: 20%;
  width: 60%;
}
.languages__item {
  margin-bottom: 10px;
}
.contacts {
}
.contacts-item {
  margin-top: 20px;
}
.contacts-value {
  position: relative;
  left: 23%;
  font-weight: 400;
}
.contacts-header {
  position: relative;
  left: 8%;
}
.contacts__box {
  display: flex;
  width: 100%;
}
.yellow-box {
  background-color: rgb(254, 203, 0);
  width: 17%;
  height: 20px;
}
.grey-box {
  background-color: rgb(41, 42, 47);
  width: 83%;
  height: 20px;
  left: 17%;
}

.name {
  background-color: rgb(254, 203, 0);
  position: relative;
  margin-top: 15%;
  padding: 50px;
}
.about-me {
}
.work-experiance {
}

.work-expiriance__item {
  display: flex;
  position: relative;
  left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.place-of-work {
  position: relative;
  left: 10%;
  width: 50%;
}
.place-of-work__place {
  text-transform: uppercase;
  font-weight: 700;
}
.place-of-work__position {
  margin-top: 10px;
}

.code {
  position: relative;
  left: 5%;
}
.skills {
  position: relative;
  left: 10%;
  display: flex;
  margin-top: 20px;
  width: 80%;
  justify-content: space-around;
}
.skills-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress-bar {
  background-color: rgb(204, 204, 204);
  width: 100%;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.progress-bar span {
  background-color: rgb(45, 45, 45);
  width: 10%;
  height: 4px;
  position: absolute;
}
.progress80 span {
  background-color: rgb(45, 45, 45);
  width: 20%;
  height: 4px;
  position: absolute;
}

.icons {
  width: 100px;
  height: 100px;
}
.html_ico {
}
